h1 {
  font-family: arial;
}
h2 {
  font-family: arial;
}
h3 {
  font-family: arial;
}
h4 {
  font-family: arial;
}
p {
  font-family: arial;
}
a {
  font-family: arial;
}
div {
  font-family: arial;
}
