/* add barlow font */
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Italic.woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-BoldItalic.woff);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Regular.woff);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Bold.woff);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-Italic.woff);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: barlow;
  src: url(/fonts/barlow/Barlow-BoldItalic.woff);
  font-weight: bold;
  font-style: italic;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* resets */
body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
  font-family: barlow;
}

html {
  font-size: 100%;
}

/*  and (max-width: 768px) */
/* mobile! */
@media only screen {
  html {
    font-size: 120%;
  }

  .box, .bgbox, .txt {
    width: 80%;
  }

  .mobiletext {
    font-size: 12px;
  }
}

/* specific defaults */
a {
  color: blue;
  vertical-align: baseline;
  font-family: barlow;
}

body {
  background-color: rgb(208, 243, 255);
}

ul {
	list-style: circle;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* box with white background */
.box {
  width: 600px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  background-size: 100%;
  border-radius: 25px;
}

/* box with hexagons */
.bgbox {
  width: 600px;
  padding: 15px;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("/images/hexa-background.jpg");
  background-color:white;
  background-size: 100%;
  border-radius: 25px;
}

/* centered text */
.txt {
  width: 600px;
  padding: 10px;
  margin: auto;
}

.mobiletext {
  font-size: 0pt;
  padding: 0px;
  margin: 0px;
}
